@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap')

*, body{
   margin:0;
   padding:0;
   box-sizing:border-box;
  }
  
  body::-webkit-scrollbar {
   display: none; 
}
  :root{
      --primary-color:#28377e;
      --secondary-color:#f2622c;
      --text-color:#ffffff;
      --text-p:#b0b0b1;
      --button-color:#D94948;
  }
  /* initial setting */
  a{
   text-decoration:none;
  }
  p{
   padding:0;
   margin:0;
  }
  ol,ul{
  padding:0;
  }
  ul li{
   list-style:none;

  }

  h1, h2, h3,h4,h5,h6, p{
   margin:0;
   padding:0;
  }
 

  .top-header {
   background-color: #fff;
   align-items: center;
   padding: 30px 0;
   color: #000;
}
 
  .top-header h5 ,p{
   color: #000;
}
  .top-header p{
   color: #c6c6c6 ;
}
 

header{
   display:flex;
   align-items:center;
   background-color:#00cce1;
   height:70px;
   overflow:hidden;
 
}

header .nav-btns {
   background-color: #f69165;
   transform: skewX(-15deg);
   text-align: center;
   padding: 29px 30px;
}

.nav-btns .fa-solid, .fas {
   font-weight: 900;
   color: #fff;
   transform: skewX(16deg);
}
header .nav-btns a {
   color: #fff;
   transform: skewX(18deg);
   display: inline-block;
}

   nav button{
      background:none !important;
      box-shadow:none !important;
      border:none !important;
     
   }
 
   /* .nav-item{
      padding-right:20px;
   } */
   .nav-item {
      padding:25px 10px;
      color: #ffffff;
      position: relative;
      z-index: 1;
  }
   .nav-item::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height:0;
      background-color: #F69165;
      transition: .4s all ease-in-out;
      z-index: -1;
  }

   
  .nav-item:hover::before{
   height: 100%;
}
 
.nav-item .nav-link{
   color:#fff;
   text-transform:uppercase;
   font-weight:700;
}

 
.hero{
   background-image:url("../Photos/hero-bg.png");
   background-position:center;
   background-repeat:no-repeat;
   width:100%;
   height:100%;
   position:relative;
  
}

.hero .hero-content h2{
   background-color:#00cce1;
   padding:10px;
   color:#fff;
   display:inline-block;
   
   
}
.hero .hero-content h1{
   background-color:#f69165;
   padding:10px;
   color:#fff;
   font-weight:bold;
   display:inline-block;
   
}
.hero .hero-content p{
   color: #c6c6c6 ;
  
   
}

.hero .hero-btn1{
   background-color:#f69165;
   padding:15px 25px;
   display:inline-block;
}
.hero .hero-btn2{
   background-color:#f69165;
   padding:15px 25px;
   display:inline-block;
   color:#fff !important;
   margin-left:15px;
}
.hero .hero-img img{
   height:90vh; 
}
.hero .hero-btn1 a{
 color:#fff !important;
}
.hero .hero-btn2 a{
 color:#fff !important;
}

.owl-carousel {
   position:relative;
}
.owl-carousel .owl-stage-outer{
   position:relative;
  
}
.owl-height{
   height:100% !important
}
.owl-carousel .owl-nav button{
   padding:0 30px !important;
}
.owl-carousel .owl-nav button.owl-next{
   position:absolute !important;
   right:-11%;
   top:50%;
   background: 0 0;
   color: inherit;
   border: none;
   padding: 0!important;
   font: inherit;
   background:#00cce1;
   padding:0 15px !important;
   
}


.owl-carousel .owl-nav button.owl-prev{
   position:absolute !important;
   left:-11%;
   top:50%;
   background: 0 0;
   color: inherit;
   border: none;
   padding: 0!important;
   font: inherit;
   background:#00cce1;
   padding:0 15px !important;
   
}
.owl-carousel .owl-nav button.owl-next:hover{
 background-color:#F69165 !important;
   
}
.owl-carousel .owl-nav button.owl-prev:hover{
 background-color:#F69165 !important;
   
}


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
   display:none !important;

   
}
.owl-theme .owl-nav {
   margin-top: 0 !important;
}
.owl-theme .owl-dots  {
   width: 10px;
   height: 10px;
   margin: 5px 7px;
   display: flex;
   flex-direction:column;
   -webkit-backface-visibility: visible;
   
   border-radius: 30px;
   position: absolute;
   top:45%;
   left:-6%;
   transition:all 0.5s ease;
}
.owl-theme .owl-dots .owl-dot span  {
   transition:all 0.5s ease;
   background-color:#00CCE1 !important;
}
.owl-theme .owl-dots .owl-dot.active span  {
   height:40px !important;
   background-color:#f69165 !important;
}


.about-us{
   position:relative;
   padding:100px 0 0 0;
   width:100%;

 
}
 .about-us .col-md-5 img{
   position:absolute;
   height:100%;
   top:50px;
   left:-5%;
  
}
.about-us .about-content h2{
   display:block;
   line-height: 1.2em;
   color:#000;
   text-align:center;
   font-size:2.2766666666667rem;
   font-family: 'Montserrat',sans-serif;
   margin:0 auto;
  
 
}
.about-us  p{
  max-width:800px;
  position:relative;
  margin:0 auto;
}
.about-us p{
  letter-spacing:1px; 
  line-height:1.7;
  color:#8e8e8e;
  vertical-align: baseline;
}
.about-us .about-content .text-p p:first-child{
   padding-bottom:26px;
}
